---
business:
  username: ABC1234567
  password: businesspassword
  password2: abcdefgh
  account-id: 01222222

personal:
  username: DEF987654321
  password: personalpassword
  password2: ijklmnop
  account-id: 36111111
